[submodule "public"]
	path = public
	url = git@github.com:kumpeishiraishi/kumpeishiraishi.github.io.git
[submodule "themes/hugo-theme-yue"]
	path = themes/hugo-theme-yue
	url = https://github.com/CyrusYip/hugo-theme-yue
